*.*
*
!*/
!/nemu/*
!/nexus-am/*
!/nanos-lite/*
!/navy-apps/*
!/npc/*
!Makefile
!README.md
!.gitignore
!init.sh
!flake.nix
!overlay.nix
/fceux-am
/am-kernels
/nvboard
/riscv-tests-am
/riscv-arch-test-am
